@font-face {
    font-family: "my-font";
    src: url("../assets/fonts/font.TTF"); 
  }

  body {
    height:100vh;
    margin:0px;
    padding: 0px;
    width:100%;
    font-family: 'my-font';
}

#winner-name{
    color: #00CCFF;
    animation-name: winner;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


@keyframes winner {
    0%      {color: #00CCFF; font-size: 2rem;}
    25%      {color: rgb(5, 158, 196); font-size: 2.5rem;}
    75%      {color: rgb(5, 158, 196); font-size: 2.5rem;}
    100%    {color: #00CCFF; font-size: 2rem;}
}

#ready{
    color: #ff0000
}

#steady{
    color: #faf200
}

ol{
    padding:1em;
    margin: 0;
}

.singleFooter{
    width: 90vw;
    text-align: right;
}


.actionFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: #00ff00;
}

.doubleFooter{
    width: 90vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.app{
    height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#scan-div, .modal, .modal-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#smileys{
    flex-direction: column;
}
#collect-image{
    height: 14vh;
}

#collect-text{
    position: relative;
    bottom: 12vh;
}

#absolute-header{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top:0;
}

#regular-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#absolute-next, #absolute-back{
    text-align: center;
    position: absolute;
    width:3em;
    bottom: 1em;
}

.transparent{
    color: transparent !important;
}

#div_name, #div_ready, #div_steady, #div_go{
    animation: appear 1;
}

#div_name{
    animation-duration: 0.1s;
}

#div_ready{
    animation-duration: 0.6s;
}

#div_steady{
    animation-duration: 1.1s;
}

#div_go{
    animation-duration: 1.6s;
}

@keyframes appear {
    from {visibility: hidden;}
    to {visibility: visible;}
  }

#player-name{
    color:#00ccff;
    font-size: 2rem;
}
#absolute-next{
    right: 1em;
}

#absolute-back{
    left: 1em;
}

#btn-routed p, #btn-random p{
    margin:0
}

button{
    border: 0;
    font-family: inherit;
    font-size: 2em;
    box-shadow: none;
    width:65vw;
    height: 2em;
}

.padded-container{
    padding:1em;
}

.list-div{
    text-align: left;
}


.div-inline{
    display: inline-block;
    width: 15%;
}

td, th{
    padding: 0.2em;
    font-size: 1.3em;
}

th{
    font-weight: 700;
}

th, td{
    text-align: right;
}

.sm{
    width: 2em;
    margin: 2.5px;
}

.div-vertical-spacing{
    margin-top: 1em;
    margin-bottom: 1em;
}

.div-container, .div-container-left{
    text-align: center;
    width:80vw;
}

.div-container-left{
    text-align: left;
}
 .found-shape{
    transform: scale(0);
    transition-duration: 0.4s;
 }

 .centered-p{
    width: 80vw;
    text-align: center;
 }

 .heading-one{
    font-size: 3em;
 }

 .heading-two, .heading-two-no-space{
    font-size: 2rem;
}

.heading-two-no-space,.heading-three-no-space, .text-no-space, #heading-three-no-space{
    margin: 0;
}

.heading-three, .heading-three-no-space, #heading-three-no-space{
    font-size: 1.5rem;
}



select, input{
    margin-top:1em;
    margin-bottom: 1em;
    border: 2px solid;
}

#back-button{
    position: absolute;
    top:0.3em;
    left:0.3em;
    margin:0;
    width: 3em;
    padding: 0;
    font-size: 1.2em;
    height: 1.4em;
}

button{
    margin-top:1em;
    border: 2px solid;
}

select, input{
    width: 30vw;
    height: 2em;
}

button:active{
    background-color:#9b9b9b;
}

.label-div{
    margin:0px;
}

#game-status{
    position: absolute;
    top: 0;
    left:0;
    margin: 5px;
}

#game-timer{
    position: absolute;
    top: 0;
    right:0;
    margin: 5px;
}

#camera-div{
    height: 35vh;
}

#shape-div{
    height: 40vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#shape-div h2{
    margin: 0;
}

.small-shape, .small-shape-spaced, .small-shape-extra-spaced{
    width:10vw;
    height:10vw;
}

.small-shape-spaced{
    margin-right:0.5em
}
.small-shape-extra-spaced{
    margin-right: 20vw;
}

.flex-col, .flex-col-container{
}

.flex-row, .flex-row-container, .flex-row-stretch, .flex-row-between{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-row-left{
    align-items: flex-start;
}

.flex-row-stretch, .flex-row-stretch-container{
    text-align: left;
    justify-content: space-between;
}

.flex-row-between{
    justify-content: flex-start;
}

.flex-row-container, .flex-row-stretch-container{
    margin-top:1em;
    margin-bottom: 1em;
}

.collect-img{
    height: 15vh;
}

.collect-text{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
}




#shape-div-random, #shape-div-random-centered,.shape-div-instructions{
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

#shape-div-random-centered{
    justify-content: center;
}

.shape{
    width: 9vh;
    height: 9vh;
    border: 2px solid black;
    margin: 0.3em;
}

.shape-small, .shape-small-spaced{
    width:4vh;
    height: 4vh;
    border: 2px solid black;
    margin: 0.3em;
}

.shape-small-spaced{
    margin-right:2em;
}

.smiley-button{
    width: 7vh;
    height: 7vh;
    border: 2px solid black;
    margin: 0.1em;
    padding: 0;
    background-color: white;
}

#scan-div{
    height: 25vh;
}

#scan-div button{
    margin:0
}

.image-SVG{
    max-width: 100%;
    height: 100%;
}

.form-label{
    margin: 0;
}

.select-div{
    margin:1em
}

.wrong-scan{
    animation-name: shake;
    animation-duration: 0.5s;
}


@keyframes shake {
    0%      {background-color: white;}
    5%      {background-color: red;}
    95%      {background-color: red;}
    100%    {background-color: white;}
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    justify-content: space-between;
    align-items: flex-end;
  }

  .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: 2px solid black;
  }

  .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}