body {
    height:100vh;
    margin:0px;
    padding: 0px;
    width:100%;
    font-family: 'Neucha', cursive;
}

.app{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    border-radius: 5px;
    border: 0;
    font-family: inherit;
    font-size: 2em;
    box-shadow: none;
    width:65vw;
    height: 2em;
}

 .found-shape{
    transform: scale(0);
    transition-duration: 0.4s;
 }

 .heading-one{
    font-size: 3em;
 }

 .heading-two{
    font-size: 2em;
}

.heading-three{
    font-size: 1em;
}

form{
    text-align: center;
}

select, input, button{
    margin-top:1em;
    margin-bottom: 1em;
    border: 2px solid;
}

select, input{
    width: 50vw;
    height: 2em;
}

button:active{
    background-color:#9b9b9b;
}

.label-div, .heading-three{
    margin:0px;
}

#game-status{
    position: absolute;
    top: 0;
    left:0;
    margin: 5px;
}

#game-timer{
    position: absolute;
    top: 0;
    right:0;
    margin: 5px;
}

#camera-div{
    height: 35vh;
}

#shape-div{
    height: 40vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#shape-div h2{
    margin: 0;
}

#shape-div-random{
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border: 2px solid;
    margin: 0.5em;
}

.shape{
    width: 9vh;
    height: 9vh;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0.3em;
}

#scan-div{
    height: 25vh;
}

#scan-div button{
    margin:0
}

.image-SVG{
    max-width: 100%;
    height: 100%;
}

.form-label{
    margin: 0;
}

.select-div{
    margin:1em
}

.wrong-scan{
    animation-name: shake;
    animation-duration: 1s;
}


@keyframes shake {
    0%      {border-color: white;}
    5%      {border-color: red;}
    95%      {border-color: red;}
    100%    {border-color: white;}
}