@font-face {
    font-family: "my-font";
    src: url("../assets/font.TTF"); 
  }
  body {
    height:100vh;
    margin:0px;
    padding: 0px;
    width:100%;
    font-family: 'my-font';
}

.app{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#absolute-header{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    top:0;
}

#absolute-next{
    position: absolute;
    bottom: 1em;
    right: 1em;
    width:3em;
}

#btn-routed p, #btn-random p{
    margin:0
}

button{
    border: 0;
    font-family: inherit;
    font-size: 2em;
    box-shadow: none;
    width:65vw;
    height: 2em;
}

.list-div{
    text-align: left;
}


.div-inline{
    display: inline-block;
    width: 15%;
}

.rankings-table{
    border: 2px solid black;
    text-align: center;
    border-collapse: collapse;
}
td, th{
    padding: 0.2em;
    font-size: 1.3em;
}

th{
    font-weight: 700;
}

th, td{
    border: 2px solid black;
}

.div-container, .div-container-left{
    text-align: center;
    width:95vw;
    margin-top:2em;
    margin-bottom: 2em;
}
 .found-shape{
    transform: scale(0);
    transition-duration: 0.4s;
 }

 .heading-one{
    font-size: 3em;
 }

 .heading-two{
    font-size: 2em;
}

.heading-three{
    font-size: 1.5em;
}


select, input{
    margin-top:1em;
    margin-bottom: 1em;
    border: 2px solid;
}

#back-button{
    position: absolute;
    top:0.3em;
    left:0.3em;
    margin:0;
    width: 3em;
    padding: 0;
    font-size: 1.2em;
    height: 1.4em;
}

button{
    margin-top:1em;
    border: 2px solid;
}

select, input{
    width: 50vw;
    height: 2em;
}

button:active{
    background-color:#9b9b9b;
}

.label-div, .heading-three{
    margin:0px;
}

#game-status{
    position: absolute;
    top: 0;
    left:0;
    margin: 5px;
}

#game-timer{
    position: absolute;
    top: 0;
    right:0;
    margin: 5px;
}

#camera-div{
    height: 35vh;
}

#shape-div{
    height: 40vh;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#shape-div h2{
    margin: 0;
}

.small-shape, .small-shape-spaced, .small-shape-extra-spaced{
    width:2.5em;
    height:2.5em;
}

.small-shape-spaced{
    margin-right:0.5em
}
.small-shape-extra-spaced{
    margin-right: 20vw;
}

.div-container-left{
    text-align: left;
}

.flex-col, .flex-col-container{
}

form h2{
    margin-bottom: 1em !important
}
.flex-row, .flex-row-container, .flex-row-stretch, .flex-row-between{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-row-left{
    align-items: flex-start;
}

.flex-row-stretch, .flex-row-stretch-container{
    text-align: left;
    justify-content: space-between;
}

.flex-row-between{
    justify-content: flex-start;
}

.flex-row-container, .flex-row-stretch-container{
    margin-top:1em;
    margin-bottom: 1em;
}


#shape-div-random, .shape-div-instructions{
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    border: 2px solid;
    margin: 0.5em;
}

.shape{
    width: 9vh;
    height: 9vh;
    border: 2px solid black;
    margin: 0.3em;
}

.shape-small, .shape-small-spaced{
    width:4vh;
    height: 4vh;
    border: 2px solid black;
    margin: 0.3em;
}

.shape-small-spaced{
    margin-right:2em;
}

.smiley-button{
    width: 7vh;
    height: 7vh;
    border: 2px solid black;
    margin: 0.1em;
    padding: 0;
}

#scan-div{
    height: 25vh;
}

#scan-div button{
    margin:0
}

.image-SVG{
    max-width: 100%;
    height: 100%;
}

.form-label{
    margin: 0;
}

.select-div{
    margin:1em
}

.wrong-scan{
    animation-name: shake;
    animation-duration: 1s;
}


@keyframes shake {
    0%      {border-color: white;}
    5%      {border-color: red;}
    95%      {border-color: red;}
    100%    {border-color: white;}
}

.modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #000;
    float: right;
    font-size: 28px;
    font-weight: bold;
    border: 2px solid black;
  }

  .close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}